<ion-header mode="ios" mode='ios'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Points" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div class="spinner" *ngIf="!points.items"><ion-spinner> </ion-spinner></div>
      <ion-list *ngIf="points.items">
        <ion-item lines="none" *ngIf="settings.reward == ''">
          <ion-label text-wrap>{{"You currently have no loyalty points. Place a order with us today to start earning loyalty points." | translate}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="bold">{{"Points" | translate}} - {{points.points}} ({{1*points.points_vlaue | currency:settings.currency:'symbol':'1.2-2'}})</ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
      <ion-item *ngFor="let item of points.items">
        <ion-label text-wrap>
          <ion-text>
            <h3>{{item.description}}</h3>
          </ion-text>
          <ion-text>
            <p>{{item.date | date:'MMM d, y hh:mm a'}}</p>
          </ion-text>
        </ion-label>
        <ion-text slot="end"><p>{{item.points}}</p></ion-text>
      </ion-item>
      </ion-list>
</ion-content>
