/** Ionic CSS Variables **/
:root {

  --ion-color-white: #fff;
  --account-header: #fff;
  --account-header-text: #000;

  --ion-color-primary: #ff6f00;
  --ion-color-primary-rgb: 255,111,0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e06200;
  --ion-color-primary-tint: #ff7d1a;

  --ion-color-secondary: #fff8e1;
  --ion-color-secondary-rgb: 255,248,225;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e0dac6;
  --ion-color-secondary-tint: #fff9e4;

  --ion-color-tertiary: #ffb300;
  --ion-color-tertiary-rgb: 255,179,0;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e09e00;
  --ion-color-tertiary-tint: #ffbb1a;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-custom1: #827717;
  --ion-color-custom1-rgb: 130,119,23;
  --ion-color-custom1-contrast: #ffffff;
  --ion-color-custom1-contrast-rgb: 255,255,255;
  --ion-color-custom1-shade: #726914;
  --ion-color-custom1-tint: #8f852e;

  --ion-color-custom2: #f9fbe7;
  --ion-color-custom2-rgb: 249,251,231;
  --ion-color-custom2-contrast: #000000;
  --ion-color-custom2-contrast-rgb: 0,0,0;
  --ion-color-custom2-shade: #dbddcb;
  --ion-color-custom2-tint: #fafbe9;

  --ion-background-color: #f9a825;
  --ion-background-color-rgb: 249,168,37;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0,0,0;

  --ion-color-step-50: #eda023;
  --ion-color-step-100: #e09721;
  --ion-color-step-150: #d48f1f;
  --ion-color-step-200: #c7861e;
  --ion-color-step-250: #bb7e1c;
  --ion-color-step-300: #ae761a;
  --ion-color-step-350: #a26d18;
  --ion-color-step-400: #956516;
  --ion-color-step-450: #895c14;
  --ion-color-step-500: #7d5413;
  --ion-color-step-550: #704c11;
  --ion-color-step-600: #64430f;
  --ion-color-step-650: #573b0d;
  --ion-color-step-700: #4b320b;
  --ion-color-step-750: #3e2a09;
  --ion-color-step-800: #322207;
  --ion-color-step-850: #251906;
  --ion-color-step-900: #191104;
  --ion-color-step-950: #0c0802;

}
@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {

    --ion-color-white: #000;
    --account-header: #000;
    --account-header-text: #fff;
  
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {

    --ion-color-white: #000;
    --account-header: #000;
    --account-header-text: #fff;

    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #1c1c1c;
    --ion-item-background-activated: #313131;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {

    --ion-color-white: #000;
    --account-header: #000;
    --account-header-text: #fff;

    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #333333;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1A1B1E;
  }

  ion-title.title-large {
    --color: white;
  }
}


.ion-color-background{
  --ion-color-base: #f9a825;
  --ion-color-base-rgb: 249,168,37;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #db9421;
  --ion-color-tint: #fab13b;
}

.ion-color-white{
  --ion-color-base: #ffffff;
  --ion-color-base-rgb: 244, 244, 244;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d7d8da;
  --ion-color-tint: #f5f6f9;
}

.ion-color-black{
  --ion-color-base: #000000;
  --ion-color-base-rgb: 0, 0, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #000000;
  --ion-color-tint: #2c2c2c;
}

.ion-color-red900{
  --ion-color-base: #b71c1c;
  --ion-color-base-rgb: 183,28,28;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #a11919;
  --ion-color-tint: #be3333;
}
.ion-color-pink900{
  --ion-color-base: #880e4f;
  --ion-color-base-rgb: 136,14,79;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #780c46;
  --ion-color-tint: #942661;
}
.ion-color-purple900{
  --ion-color-base: #4a148c;
  --ion-color-base-rgb: 74,20,140;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #41127b;
  --ion-color-tint: #5c2c98;
}
.ion-color-deeppurple900{
  --ion-color-base: #311b92;
  --ion-color-base-rgb: 49,27,146;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2b1880;
  --ion-color-tint: #46329d;
}
.ion-color-indigo900{
  --ion-color-base: #1a237e;
  --ion-color-base-rgb: 26,35,126;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #171f6f;
  --ion-color-tint: #31398b;
}
.ion-color-blue900{
  --ion-color-base: #0d47a1;
  --ion-color-base-rgb: 13,71,161;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #0b3e8e;
  --ion-color-tint: #2559aa;
}
.ion-colorblue900{
  --ion-color-base: #01579b;
  --ion-color-base-rgb: 1,87,155;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #014d88;
  --ion-color-tint: #1a68a5;
}
.ion-color-cyan900{
  --ion-color-base: #006064;
  --ion-color-base-rgb: 0,96,100;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #005458;
  --ion-color-tint: #1a7074;
}
.ion-color-teal900{
  --ion-color-base: #004d40;
  --ion-color-base-rgb: 0,77,64;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #004438;
  --ion-color-tint: #1a5f53;
}
.ion-color-green900{
  --ion-color-base: #1b5e20;
  --ion-color-base-rgb: 27,94,32;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #18531c;
  --ion-color-tint: #326e36;
}
.ion-colorgreen900{
  --ion-color-base: #33691e;
  --ion-color-base-rgb: 51,105,30;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2d5c1a;
  --ion-color-tint: #477835;
}
.ion-color-lime900{
  --ion-color-base: #827717;
  --ion-color-base-rgb: 130,119,23;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #726914;
  --ion-color-tint: #8f852e;
}
.ion-color-yellow900{
  --ion-color-base: #f57f17;
  --ion-color-base-rgb: 245,127,23;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #d87014;
  --ion-color-tint: #f68c2e;
}
.ion-color-amber900{
  --ion-color-base: #ff6f00;
  --ion-color-base-rgb: 255,111,0;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #e06200;
  --ion-color-tint: #ff7d1a;
}
.ion-color-orange900{
  --ion-color-base: #e65100;
  --ion-color-base-rgb: 230,81,0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #ca4700;
  --ion-color-tint: #e9621a;
}
.ion-color-deeporange900{
  --ion-color-base: #bf360c;
  --ion-color-base-rgb: 191,54,12;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #a8300b;
  --ion-color-tint: #c54a24;
}
.ion-color-brown900{
  --ion-color-base: #3e2723;
  --ion-color-base-rgb: 62,39,35;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #37221f;
  --ion-color-tint: #513d39;
}
.ion-color-grey900{
  --ion-color-base: #212121;
  --ion-color-base-rgb: 33,33,33;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #1d1d1d;
  --ion-color-tint: #373737;
}
.ion-color-bluegrey900{
  --ion-color-base: #263238;
  --ion-color-base-rgb: 38,50,56;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #212c31;
  --ion-color-tint: #3c474c;
}
  /** Custom 1 **/
.ion-color-custom1{
  --ion-color-base: #827717;
  --ion-color-base-rgb: 130,119,23;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #726914;
  --ion-color-tint: #8f852e;
}
  /** Custom 2 **/
.ion-color-custom2{
  --ion-color-base: #f9fbe7;
  --ion-color-base-rgb: 249,251,231;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #dbddcb;
  --ion-color-tint: #fafbe9;
}

