<ion-header mode='ios'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/cart"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Address" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="spinner" *ngIf="loader"><ion-spinner> </ion-spinner></div>

<div *ngIf="!loader">
<ion-list no-margin>

  <ion-list-header>
    <ion-label>{{"Billing Address" | translate}}</ion-label>
  </ion-list-header>

        <ion-item>
            <ion-label position="stacked">{{"First Name" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_first_name" name="firstname"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{"Last Name" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_last_name" name="lastname"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{"Phone" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_phone" name="telephone"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{"Company" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_company" name="company"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{"Street Address" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_address_1" name="street1"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{"Street Address" | translate}} 2</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_address_2" name="street2"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{"Email" | translate}}</ion-label>
            <ion-input required type="email" [(ngModel)]="checkoutData.form.billing_email" name="email"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{"City" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_city" name="city"> </ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label position="stacked">{{"Postcode" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_postcode" name="postcode"> </ion-input>
        </ion-item>

        <ion-item *ngIf="checkoutData.form?.countries && checkoutData.form?.countries.length > 1">
            <ion-label>{{"Country" | translate}}</ion-label>
            <ion-select [(ngModel)]="checkoutData.form.billing_country" (ngModelChange)="getBillingRegion()" name="billing_country">
                <div *ngFor="let field of checkoutData.form.countries">
                    <ion-select-option value="{{field.value}}"><span [innerHTML]="field.label"></span> </ion-select-option>
                </div>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="checkoutData.billingStates?.regions.length">
            <ion-label>{{"State" | translate}}</ion-label>
            <ion-select [(ngModel)]="checkoutData.form.billing_state" name="billing_state">
                <div *ngFor="let field of checkoutData.billingStates.regions">
                    <ion-select-option value="{{field.value}}"><span [innerHTML]="field.label"></span></ion-select-option>
                </div>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="!checkoutData.billingStates?.regions.length">
            <ion-label position="stacked">{{"State" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_state" name="billing_state"> </ion-input>
        </ion-item>


        <ion-item>
            <ion-label>{{"Ship to different address" | translate}}</ion-label>
            <ion-toggle color="{{settings.theme.button}}" [(ngModel)]="checkoutData.form.ship_to_different_address"></ion-toggle>
        </ion-item>

</ion-list>


<ion-list no-margin *ngIf="checkoutData.form.ship_to_different_address">

  <ion-list-header>
    <ion-label>{{"Shipping Address" | translate}}</ion-label>
  </ion-list-header>

        <ion-item>
            <ion-label position="stacked">{{"First Name" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_first_name" name="firstname"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{"Last Name" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_last_name" name="lastname"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{"Company" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_company" name="company"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{"Street Address" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_address_1" name="street1"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{"Street Address" | translate}} 2</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_address_2" name="street2"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{"City" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_city" name="city"> </ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label position="stacked">{{"Postcode" | translate}}</ion-label>
            <ion-input required type="number" [(ngModel)]="checkoutData.form.shipping_postcode" name="postcode"> </ion-input>
        </ion-item>

        <ion-item *ngIf="checkoutData.form?.countries && checkoutData.form?.countries.length > 1">
            <ion-label>{{"Country" | translate}}</ion-label>
            <ion-select [(ngModel)]="checkoutData.form.shipping_country" (ngModelChange)="getShippingRegion()" name="shipping_country">
                <div *ngFor="let field of checkoutData.form.countries">
                    <ion-select-option value="{{field.value}}"><span [innerHTML]="field.label"></span> </ion-select-option>
                </div>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="checkoutData.shippingStates?.regions.length">
            <ion-label>{{"State" | translate}}</ion-label>
            <ion-select [(ngModel)]="checkoutData.form.shipping_state" name="shipping_state">
                <div *ngFor="let field of checkoutData.shippingStates.regions">
                    <ion-select-option value="{{field.value}}"><span [innerHTML]="field.label"></span></ion-select-option>
                </div>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="!checkoutData.shippingStates?.regions.length">
            <ion-label position="stacked">{{"State" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_state" name="shipping_state"> </ion-input>
        </ion-item>


        <!--ion-item *ngIf="countries?.options">
            <ion-label>{{"Country" | translate}}</ion-label>
            <ion-select [(ngModel)]="checkoutData.form.shipping_country" (ngModelChange)="getShippingRegion()" name="shipping_country">
                <div *ngFor="let field of countries.options | keys">
                    <ion-select-option value="{{field.key}}"><span [innerHTML]="field.value"></span></ion-select-option>
                </div>
            </ion-select>
        </ion-item>

        <div *ngIf="checkoutData.form?.shipping_country">
        <ion-item *ngIf="checkoutData.form?.state[checkoutData.form.shipping_country]">
            <ion-label>{{"State" | translate}}</ion-label>
            <ion-select [(ngModel)]="checkoutData.form.shipping_state" name="shipping_state">
                <div *ngFor="let field of checkoutData.form.state[checkoutData.form.shipping_country] | keys">
                    <ion-select-option value="{{field.key}}"><span [innerHTML]="field.value"></span></ion-select-option>
                </div>
            </ion-select>
        </ion-item>
        

        <ion-item *ngIf="!checkoutData.shippingStates">
            <ion-label position="stacked">{{"State" | translate}}</ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_state" name="shipping_state"> </ion-input>
        </ion-item>
        </div-->


</ion-list>
<div *ngIf="errorMessage">
  <h2 [innerHTML]="errorMessage" style="font-size: 14px;  color: red;margin: 16px;"></h2>
</div>
<div class="submit-button">
<ion-button color="{{settings.theme.button}}" expand="block" fill="solid" (click)="continueCheckout()">{{"Continue" | translate}}</ion-button>
</div>
</div>
</ion-content>
