.orders {
    .activated {
        opacity: 0.6;
    }
    .empty {
        margin-top: 50px;
        text-align: center;
        ion-icon {
            font-size: 7.2em;
        }
    }
    ion-card-title {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2;
    }
    ion-card-subtitle{
        font-weight: 500;
        font-size: 13px;
    }
}