/****
Copy respective block css block
***/

.product-list1 {
    ion-item {
        --box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        padding: 10px 10px 5px 10px;
        --padding-start: 0px;
        padding: 10xp;
        ion-thumbnail {
            width: 28%;
            height: 100%;
            margin-top: 0;
            margin-bottom: -4px;
        }
        .details {
            align-self: flex-start;
            width: 104%;
            ion-label {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 300;
                font-size: small;
            }
            p {
                margin: 0
            }
            .special-price {
                font-size: x-small;
                padding: 0 5px;
            }
            ion-icon {
                font-size: x-large;
                font-weight: 300;
            }
        }
    }
}
.product-list2 {
    ion-item {
        --box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, 3.12);
        margin: 10px 10px 5px 10px;
        --padding-start: 0px;
        padding: 10xp;
        ion-thumbnail {
            width: 28%;
            height: 100%;
            margin-top: 0;
            margin-bottom: -4px;
        }
        .details {
            align-self: flex-start;
            padding: 0;
            width: 104%;
            ion-label {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 300;
                font-size: small;
            }
            p {
                margin: 0
            }
            .special-price {
                font-size: x-small;
                padding: 0 5px;
            }
            ion-icon {
                font-size: x-large;
                font-weight: 300;
            }
        }
    }
}
.product-list3 {
    ion-item {
        --border-color: var(--ion-toolbar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.2))));
        --border-width: 0 0 0.55px;
        --padding-start: 0px;
        padding: 10xp;
        ion-thumbnail {
            width: 28%;
            height: 100%;
            margin-top: 0;
            margin-bottom: -4px;
        }
        .details {
            align-self: flex-start;
            padding: 0;
            width: 104%;
            ion-label {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 300;
                font-size: small;
            }
            p {
                margin: 0
            }
            .special-price {
                font-size: x-small;
                padding: 0 5px;
            }
            ion-icon {
                font-size: x-large;
                font-weight: 300;
            }
        }
    }
}

/* Product Grid1 */

.product-grid1 {
    margin: 0;
    padding: 0;
    ion-card {
        margin: 0;
        height: 100%;
    }
    ion-card-title {
        font-size: 40px;
    }
    ion-card-header {
        padding: 10px;
    }
    ion-card-content {
        padding: 0;
        .price {
            padding: 0 10px 10px 10px;
            font-weight: bold; //color: #000000;
            font-size: 14px;
            .special-price {
                //color: #868686;
                padding-left: 5px;
                font-size: 10px;
                font-weight: 300;
            }
        }
    }
    ion-card-subtitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 300;
        font-size: small; //color: black;
    }
    .scrollmenu2 {
        margin: 5px 0;
        z-index: 1; //background-color: #fff;
        overflow: auto;
        white-space: nowrap;
        h5 {
            margin: 0;
            padding: 5px;
            font-size: 12px;
            text-transform: capitalize;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .scroll {
            display: inline-block; //color: #000;
            text-align: center;
            padding: 8px 8px 0 8px;
            text-decoration: none;
            width: 30%;
        }
        img {
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
    }
    .list-md {
        padding-top: 0;
    }
    .stock {
        position: absolute;
        top: -4px;
        left: -6px;
        width: 130px;
        font-size: 8px;
        margin: 15px;
        margin-left: -39px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        height: 19px;
        --box-shadow: none;
    }
    .offer {
        margin-left: 5px;
        font-size: 12px;
        --border-radius: 25px;
        width: 36px;
        min-height: 36px;
        font-weight: 600;
        position: absolute;
        top: 5px;
        left: 5px;
        -webkit-box-shadow: none;
        --box-shadow: none;
    }
}
.searchbar-input.sc-ion-searchbar-md {
    box-shadow: none;
}
.products-header {
    ion-searchbar {
        height: 40px;
        ion-toolbar:last-child {
            --border-width: 0;
        }
    }
}