<ion-header mode='ios'  class="products-header">
  <ion-toolbar color="{{settings.theme.header}}">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/categories"></ion-back-button>
    </ion-buttons>
    <ion-searchbar mode="ios" *ngIf="showSearch" [(ngModel)]="searchInput" (ionChange)="onInput()"></ion-searchbar>
    <ion-buttons slot="end" (click)="getFilter()"><ion-icon name="funnel" style="margin: 0 8px;font-size: 23px"></ion-icon></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="subCategories?.length" class="scrollmenu2">
    <div *ngFor="let item of subCategories" class="scroll ion-activatable ion-focusable hydrated" (click)="getCategory(item.id)">
      <img alt="" *ngIf="item.image?.src" src="{{item.image.src}}" [style.border-radius.px]="settings.dimensions.suCatBorderRadius">
      <h5><span [innerHTML]="item.name"></span></h5>
    </div>
  </div>

  <div class="spinner" *ngIf="loader"><ion-spinner> </ion-spinner></div>


<!-- Products List Layout -->
<!-- For different list layouts change class name product-list1, product-list2, product-list3 -->  
  <ion-list  *ngIf="products" class="product-list3">
    <ion-item *ngFor="let product of products" lines="none">
        <ion-thumbnail slot="start" (click)="getProduct(product)" class="ion-activatable ion-focusable hydrated">
            <img *ngIf="product.images?.length" src="{{product.images[0].src}}">
        </ion-thumbnail>
        <ion-grid class="details">
            <ion-row (click)="getProduct(product)">
                <ion-col>
                    <ion-label>
                        {{product.name}}
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row (click)="getProduct(product)">
                <ion-col>
                    <p class="price">
                        <span *ngIf="!product.sale_price" class="regular-price">
                            {{1*product.price | currency:settings.currency:symbol:'1.2-2'}}
                        </span>
                        <span *ngIf="product.sale_price" class="regular-price">
                            {{1*product.sale_price | currency:settings.currency:symbol:'1.2-2'}}
                        </span>
                        <span *ngIf="product.sale_price" class="special-price">
                            <del>
                                {{1*product.regular_price | currency:settings.currency:symbol:'1.2-2'}}
                            </del>
                        </span>
                    </p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-icon (click)="settings.addToWishlist(product.id)" *ngIf="!settings.wishlist[product.id]" class="wishlist-button-list" mode="md" name="heart-empty">
                    </ion-icon>
                    <ion-icon (click)="settings.removeFromWishlist(product.id)" *ngIf="settings.wishlist[product.id]" class="wishlist-button-list" color="{{settings.theme.button}}" mode="md" name="heart">
                    </ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!--ion-button color="danger" class="stock" *ngIf="product.stock_status == 'outofstock'">{{"No Stock" | translate}}</ion-button>
          <div *ngIf="product.stock_status == 'instock'">
          <ion-button class="offer" *ngIf="((product.regular_price - product.price) /product.regular_price*100) >= '1'">{{(product.regular_price - product.price) /product.regular_price*100 | number : '1.0-0'}}%</ion-button>
          </div-->
    </ion-item>
</ion-list>




<!-- Products Grid Layout -->
<ion-grid class="product-grid1">
    <ion-row>
      <ion-col size="{{settings.colWidthProducts}}" [style.padding.px]="settings.dimensions.productPadding" *ngFor="let product of products">
        <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{settings.settings.product_shadow}}" [style.border-radius.px]="settings.dimensions.productBorderRadius">
            <ion-img alt="" [style.height.px]="settings.dimensions.productsGridViewHeight" (click)="getProduct(product)" *ngIf="product.images?.length" src="{{product.images[0].src}}"></ion-img>
            <ion-img alt="" [style.height.px]="settings.dimensions.productsGridViewHeight" (click)="getProduct(product)" *ngIf="!product.images?.length" src="assets/image/logo.png"></ion-img>
            <ion-icon name="heart-empty" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[product.id]" (click)="settings.addToWishlist(product.id)"></ion-icon>
            <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid" *ngIf="settings.wishlist[product.id]" (click)="settings.removeFromWishlist(product.id)"></ion-icon>

            <ion-button color="danger" class="stock" *ngIf="product.stock_status == 'outofstock'">{{"No Stock" | translate}}</ion-button>
            <div *ngIf="product.stock_status == 'instock'">
            <ion-button class="offer" *ngIf="((product.regular_price - product.price) /product.regular_price*100) >= '1'">{{(product.regular_price - product.price) /product.regular_price*100 | number : '1.0-0'}}%</ion-button>
            </div>              
            <ion-card-header (click)="getProduct(product)" class="ion-activatable ion-focusable hydrated">
              <ion-card-subtitle mode="md">{{product.name}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content (click)="getProduct(product)" class="ion-activatable ion-focusable hydrated">
            <p class="price">
                <span class="regular-price" *ngIf="!product.sale_price">{{1*product.price | currency:settings.currency:symbol:'1.2-2'}}</span>
                <span class="regular-price" *ngIf="product.sale_price">{{1*product.sale_price | currency:settings.currency:symbol:'1.2-2'}}</span>
                  <span *ngIf="product.sale_price" class="special-price"><del>{{1*product.regular_price | currency:settings.currency:symbol:'1.2-2'}}</del></span>
            </p>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-grid>

  <ion-infinite-scroll threshold="100px" *ngIf="hasMoreItems && products.length" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
	
</ion-content>
